<h2>Create your own house.</h2>

<%= form_for :house, url: houses_path do |f| %>
  Name: <%= f.text_field :name %>
  Sigil: <%= f.text_field :symbol %>
  Crest: <%= f.text_field :img_url %>
<%= f.submit %>
<% end %>
