<div class="character">
  <h2>Create a character.</h2>

  <%= form_for :character, url: characters_path do |f| %>
    Name: <%= f.text_field :name %>
    Likeness: <%= f.text_field :img_url %>
    Allegiance: <%= f.text_field :house_id %>
  <%= f.submit %>
  <% end %>
</div>
